@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-R.ttf');
}

:root {
  --primary: #181818;
  --onPrimary: #EDE6D6;
}

body {
  padding:                 0;
  margin:                  0;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width:      100%;
  height:     100%;
  background: var(--primary);
  position:   fixed;
  top:        0;
  left:       0;
}

p {
  font-family: 'Ubuntu';
  font-weight: normal;
  color: var(--onPrimary);
}