#sideBar {
  width:     208px;
  min-width: 96px;
  resize:    horizontal;
  overflow:  auto;
}

#sideBar > button {
  width:          100%;
  font-size:      20px;
  padding:        10px;
  cursor:         pointer;
  /* Ellispize */
  white-space:    nowrap;
  overflow:       hidden;
  text-overflow:  ellipsis;
}
