#contextMenu {
  display:        flex;
  flex-direction: column;
  position:       fixed;
  z-index:        9999;
}

#contextMenu > button {
  font-size: 24px;
  padding:   5px;
  cursor:    pointer;
}
