#footerControls {
  width:          100%;
  display:        flex;
  flex-direction: row;
  align-items:    center;
  gap:            10px;
}

#songInformation {
  display:        flex;
  flex-direction: row;
  align-items:    center;
}
#songInformation > img {
  width:   50px;
  height:  50px;
  padding: 10px;
}
#songInformation > div {
  display:        flex;
  flex-direction: column;
  width:          150px;
}
#footerSongName {
  font-size: 18px;
}
#songInformation > div > p {
  font-size:     14px;
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
}

#controls {
  flex:           1;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap:            5px;
}
#musicSlider {
  flex:      1;
  max-width: 300px;
}
#musicSliderContainer {
  width:           90%;
  display:         flex;
  flex-direction:  row;
  align-items:     center;
  justify-content: center;
  gap:             2px;
}
#musicSliderContainer > p {
  font-size: 12px;
}
#controlButtons {
  display:        flex;
  flex-direction: row;
  align-items:    center;
  gap:            2px;
}
#controlButtons > button {
  width:           36px;
  height:          36px;
  border-radius:   20px;
  cursor:          pointer;
  display:         flex;
  align-items:     center;
  justify-content: center;
}
#controlButtons > button > img {
  width:  26px;
  height: 26px;
}
#controlButtons > button:first-child,
#controlButtons > button:nth-child(5) {
  width:  31px;
  height: 31px;
}
#controlButtons > button:first-child > img,
#controlButtons > button:nth-child(5) > img {
  width:  20px;
  height: 20px;
}

#miscControls {
  display:         flex;
  flex-direction:  row;
  align-items:     center;
  justify-content: center;
  gap:             5px;
}
#miscControls > div {
  display:        flex;
  flex-direction: row;
  gap:            1px;
}
.miscControlButton {
  width:           28px;
  height:          28px;
  border-radius:   20px;
  cursor:          pointer;
  display:         flex;
  align-items:     center;
  justify-content: center;
}
.miscControlButton > img {
  width:  20px;
  height: 20px;
}
#volumeSlider {
  width:        136px;
  margin-right: 10px;
}
#queueButtonWrapper {
  display:        flex;
  flex-direction: column;
  align-items:    center;
}
#queueList {
  display:        none; /* flex */
  flex-direction: column;
  width:          200px;
  max-height:     calc(100% - 130px);
  position:       absolute;
  bottom:         80px;
  border-radius:  5px;
}
#queueList > button {
  display:        flex;
  flex-direction: row;
  align-items:    center;
  gap:            10px;
  padding:        10px;
  cursor:         pointer;
}
#queueList > button > img {
  width:  30px;
  height: 30px;
}
#queueList > button > div {
  width: 0;
  flex: 1;
  text-align: left;
}
#queueList > button > div > p {
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
}
#queueList > button > div > p:first-child {
  font-size: 16px;
}
#queueList > button > div > p:nth-child(2) {
  font-size: 12px;
}
