@font-face {
  font-family: "Ubuntu Mono Regular";
  src:         url("../fonts/UbuntuMono-R.ttf");
}

body {
  margin:  0;
  padding: 0;
  font-family: "Ubuntu Mono Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default Fonts */
button {
  font-family: "Ubuntu Mono Regular";
}

button, ul {
  margin:     0;
  padding:    0;
  outline:    none;
  border:     none;
  background: none;
}

ul {
  list-style-type: none;
}
