#sideBar {
  width:     160px;
  min-width: 160px;

  /* Resize */
  resize:   horizontal;
  overflow: auto;
}

#sideBar > button {
  width:         100%;
  font-size:     24px;
  padding:       7px 5px;
  cursor:        pointer;
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
}
