#songList {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.songListButton {
  width:          100%;
  display:        flex;
  flex-direction: row;
  align-items:    center;
  gap:            10px;
  padding:        10px;
  cursor:         pointer;
}

.songListButton > img {
  width:  50px;
  height: 50px;
}

/* Song name + artist container */
.songListButton > div {
  width:          0; /* Allows ellipsizing to work */
  flex:           1;
  display:        flex;
  flex-direction: column;
  gap:            3px;
  text-align:     left;
}

/* Album */
.songListButton > p:nth-child(3) {
  width: 0; /* Allows ellipsizing to work */
  flex:  1;
}

/* Song length */
.songListButton > p:nth-child(4) {
  min-width: 60px;
}

/* Song name & length */
.songListButton > div > p:first-child, .songListButton > p:nth-child(4) {
  font-size: 20px;
}

/* Artist & album name */
.songListButton > div > p:nth-child(2), .songListButton > p:nth-child(3) {
  font-size: 16px;
}

/* Song, artist, & album name */
.songListButton > div > p,
.songListButton > p:nth-child(3) {
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
}

/* Loading bar */
#songList > div {
  width:     300px;
  height:    40px;
  position:  relative;
  top:       50%;
  left:      50%;
  transform: translate(-50%, -50%);
}
#songList > div > div {
  width:     0;
  height:    100%;
  animation: loading 1.5s linear infinite;
}
@keyframes loading {
  0%   { width: 0; }
  100% { width: 100%; }
}

#searchBar {
  padding:    5px;
  font-size:  24px;
  text-align: center;
}
