#topBar {
  display:        flex;
  flex-direction: row;
  align-items:    center;
  width:          100%;
}

#topBar > img {
  width:   30px;
  height:  30px;
  padding: 5px;
}

/* Container for button + dropdown */
#topBar > div > button {
  height:    40px;
  font-size: 24px;
  cursor:    pointer;
  padding:   0px 5px;
}
.topBarButtonDropdown {
  display:   none;
  position:  absolute;
  transform: translate(-2px, 2px);
}
.topBarButtonDropdown > li {
  display:        flex;
  flex-direction: row;
  gap:            10px;
  cursor:         pointer;
}
.topBarButtonDropdown > li > button {
  font-size: 24px;
  cursor:    pointer;
  padding:   5px;
}
.topBarButtonDropdown > li > button:first-child {
  text-align: left;
  flex:       1;
}
.topBarButtonDropdown > li > button:nth-child(2) {
  text-align: right;
}
