#topBar {
  display:        flex;
  flex-direction: row;
}

#topBar > img {
  width:   30px;
  height:  30px;
  padding: 3px 2px;
}

.topBarButton {
  height:        100%;
  font-size:     20px;
  padding-left:  10px;
  padding-right: 10px;
  cursor:        pointer;
}

#topBar > div > ul {
  display:   none;
  position:  absolute;
  transform: translate(-2px, 2px);
}
#topBar > div > ul > li {
  display:        flex;
  flex-direction: row;
  gap:            10px;
  padding:        5px 10px;
  cursor:         pointer;
}
#topBar > div > ul > li > button {
  font-size: 20px;
  cursor:    pointer;
}
#topBar > div > ul > li > button:first-child {
  flex:       1;
  text-align: left;
}

#converterPercentageContainer {
  flex:            1;
  display:         flex;
  align-items:     center;
  justify-content: right;
  padding-right:   5px;
}
#converterPercentage {
  font-size:   20px;
  user-select: none;
}
